{% extends "model.html" %}
{%block below%}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<ul class="nav nav-list">
				<li class="nav-header">
					公共课
				</li>
				<li class="active">
					<a href="/login/0">公必</a>
				</li>
				<li>
					<a href="/login/1">公选</a>
				</li>
				<li class="nav-header">
					专业课
				</li>
				<li>
					<a href="/login/2">专必</a>
				</li>
				<li>
					<a href="/login/3">专选</a>
				</li>
				<li class="divider">
				</li>
				<li>
					<a href="#">帮助(即将开放)</a>
				</li>
			</ul>
		</div>
	</div>
</div>
{%endblock%}